<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Index Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Java Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Banking App
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/user/create-account}">Create Account</a>
                    <a class="dropdown-item" th:href="@{/user/deposit}">Deposit</a>
                    <a class="dropdown-item" th:href="@{/user/withdraw}">Withdraw</a>
                    <a class="dropdown-item" th:href="@{/user/transfer-fund}">Transfer</a>
                    <a class="dropdown-item" th:href="@{/user/close-account}">Close Account</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="flex-shrink-0" style="padding-top: 3%;">
    <div class="container">

        <!-- Form for Searching User -->
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <div class="form-group row">
                        <label for="source-account-number" class="col-sm-4 col-form-label">Source Account Number</label>
                        <div class="col-sm-8 text-right">
                            <input type="text" class="form-control" id="source-account-number"
                                   placeholder="Enter Source Account Number">
                            <em id="error-source-account-number" class="error text-danger"></em>
                        </div>

                        <label for="destination-account-number" class="col-sm-4 col-form-label">Destination Account
                            Number</label>
                        <div class="col-sm-8 text-right">
                            <input type="text" class="form-control" id="destination-account-number"
                                   placeholder="Enter Destination Account Number">
                            <em id="error-destination-account-number" class="error text-danger"></em>
                        </div>


                        <label for="transfer-amount" class="col-sm-4 col-form-label">Transfer Amount </label>
                        <div class="col-sm-8 text-right">
                            <input type="number" class="form-control" id="transfer-amount" disabled>
                            <em id="error-deposit-amount" class="error text-danger"></em>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" id="btn-transfer" disabled="true">Deposit</button>
                        </div>


                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <!-- load account details here -->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="card" style="width: 28rem; display: none;" id="source-account-details">
                            <div class="card-body">
                                <h3 class="card-title"> Source Account details</h3>
                                <p class="card-text" id="source-account-no-detail"></p>
                                <p class="card-text" id="source-name-detail"></p>
                                <p class="card-text" id="source-address-detail"></p>
                                <p class="card-text" id="source-balance-detail"></p>
                                <p class="card-text" id="source-email-detail"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="card" style="width: 28rem; display: none;" id="destination-account-details">
                            <div class="card-body">
                                <h3 class="card-title"> Destination Account details</h3>
                                <p class="card-text" id="destination-account-no-detail"></p>
                                <p class="card-text" id="destination-name-detail"></p>
                                <p class="card-text" id="destination-address-detail"></p>
                                <p class="card-text" id="destination-balance-detail"></p>
                                <p class="card-text" id="destination-email-detail"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script>
    $(document).ready(function () {
        console.log("ready!");

        var sourceBalance = 0;
        var destinationBalance = 0;

        $("#source-account-number").focusout(function () {
            var sourceAccountNumber = $("#source-account-number").val();

            axios.get('http://localhost:8080/search-user?account-number=' + sourceAccountNumber)
                .then(function (response) {
                    var applicationMessage = response.data;

                    console.log(applicationMessage);
                    console.log(applicationMessage.success);
                    if (applicationMessage.success) {
                        $("#transfer-amount").prop("disabled", false);
                        $("#btn-transfer").prop("disabled", false);

                        sourceBalance = applicationMessage.body.balance;

                        // Showing account details
                        $("#source-account-details").css('display', 'block');
                        $("#source-account-no-detail").html('Account Number: ' + applicationMessage.body.accountNumber);
                        $("#source-name-detail").html('Name: ' + applicationMessage.body.name);
                        $("#source-address-detail").html('Address: ' + applicationMessage.body.address);
                        $("#source-balance-detail").html('Balance: ' + sourceBalance);
                        $("#source-email-detail").html('Address: ' + applicationMessage.body.email);
                    } else {
                        $("#transfer-amount").prop("disabled", true);
                        $("#btn-transfer").prop("disabled", true);

                        $("#source-account-details").css('display', 'none');
                    }

                })
                .catch(function (error) {
                    console.log(error);
                })
                .finally(function () {
                });

        });

        $("#destination-account-number").focusout(function () {
            console.log(sourceBalance);

            var destinationAccountNumber = $("#destination-account-number").val();

            axios.get('http://localhost:8080/search-user?account-number=' + destinationAccountNumber)
                .then(function (response) {
                    var applicationMessage = response.data;

                    console.log(applicationMessage);
                    console.log(applicationMessage.success);
                    if (applicationMessage.success) {
                        $("#transfer-amount").prop("disabled", false);
                        $("#btn-transfer").prop("disabled", false);

                        destinationBalance = applicationMessage.body.balance;

                        // Showing account details
                        $("#destination-account-details").css('display', 'block');
                        $("#destination-account-no-detail").html('Account Number: ' + applicationMessage.body.accountNumber);
                        $("#destination-name-detail").html('Name: ' + applicationMessage.body.name);
                        $("#destination-address-detail").html('Address: ' + applicationMessage.body.address);
                        $("#destination-balance-detail").html('Balance: ' + destinationBalance);
                        $("#destination-email-detail").html('Address: ' + applicationMessage.body.email);
                    } else {
                        $("#transfer-amount").prop("disabled", true);
                        $("#btn-transfer").prop("disabled", true);

                        $("#destination-account-details").css('display', 'none');
                    }

                })
                .catch(function (error) {
                    console.log(error);
                })
                .finally(function () {
                });
        });

        $("#btn-transfer").click(function (event) {

            event.preventDefault();
            console.log(sourceBalance);

            // 1. Account number check : if sourece == destination
            var sourceAccountNumber = $("#source-account-number").val();
            var destinationAccountNumber = $("#destination-account-number").val();

            if (sourceAccountNumber === destinationAccountNumber) {
                alert("Please provide differnt account number");
                return;
            }

            //2. soucreBalancce < transfer_amount
            var transferAmount = $("#transfer-amount").val();

            if (transferAmount > sourceBalance) {
                alert("You donot have sufficient balance");
                return;
            }

            // 3. call to n/w

            axios.post('http://localhost:8080/transfer', {
                sourceAccountNumber: sourceAccountNumber,
                destinationAccountNumber: destinationAccountNumber,
                transferAmount: transferAmount
            })
                .then(function (response) {
                   var applicationMessage = response.data;

                    if(applicationMessage.success) {
                        var sourceRemBalance = sourceBalance - transferAmount;
                        var destinationAddedBalance = destinationBalance + transferAmount;

                        $("#source-balance-detail").html('Balance: ' + sourceRemBalance);
                        $("#destination-balance-detail").html('Balance: ' + destinationAddedBalance);
                    }else {
                        alert("balance is not updated");
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });

        });
    });

</script>
</body>
</html>